@model IEnumerable<SiddharthJasapara_550.Model.Models.PaginationModel>

@{
    ViewBag.Title = "Wallet";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.transactionsModel as List<SiddharthJasapara_550.Model.Models.TransactionModel>;
}

<link href="~/Content/toastr.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/autofill/2.7.0/css/autoFill.dataTables.min.css" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/autofill/2.7.0/js/dataTables.autoFill.min.js"></script>
<script src="~/Scripts/toastr.js"></script>

<!-- Content Row -->
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            Current Balance
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@TempData["Balance"]</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-wallet fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            Today's Earnings
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">@TempData["Earnings"]</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-rupee-sign fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<table class="table table-bordered" id="transactionsTable">
    <thead class="bg-warning text-primary">
        <tr>
            <th>
                Debited Amount
            </th>
            <th>
                Credited Amount
            </th>
            <th>
                Date & Time
            </th>
            <th>
                Current Balance
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in list)
        {
            <tr>
                <td>
                    @if (item.debited == 0)
                    {
                        <span></span>
                    }
                    else
                    {
                        <span class="text-danger">-@item.debited</span>
                    }
                </td>
                <td>
                    @if (item.credited == 0)
                    {
                        <span></span>
                    }
                    else
                    {
                        <span class="text-success">+@item.credited</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.date)
                </td>
                <td>
                    ₹@Html.DisplayFor(modelItem => item.balance)
                </td>
            </tr>
        }
    </tbody>

</table>

@if (ViewBag.count > 5)
{
    <div>
        <ul class="pagination">
            @for (int i = 1; i <= Math.Ceiling((double)ViewBag.count / 5); i++)
            {
                <li class="@(i == ViewBag.currentIndex ? "active" : "") btn btn-outline-warning">
                    <a href="@Url.Action("Wallet", "User", new { current = i })">@i</a>
                </li>
            }
        </ul>
    </div>
}